src/*.exe
src/obsidian
src/obsidiand
src/test_obsidian
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.obsidian

# Compilation and Qt preprocessor part
*.qm
Makefile
obsidian-qt
Obsidian-Qt.app

# Unit-tests
Makefile.test
obsidian-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
